@import '../../../styles/variable.scss';
@import '../../../styles/mixin.scss';

.expired-modal {
  .expired-modal__content {
    text-align: center;
    display: block;

    & > a {
      display: inline-block;
      text-decoration: underline;
      color: $primaryBase;
    }
  }
}
