@import '../../styles/variable.scss';

.empty-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .empty-data-text {
    text-align: center;
    margin-top: $size-8;
    font-size: $size-14;
    line-height: $size-22;
    color: $text-desc-color;
  }
}
